* {
    box-sizing: border-box;
}

html {
    font-family: 'Anton', sans-serif;
}

a {
    text-decoration:  none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2,
h3, h4 {
    margin-top: 0;
    margin-bottom: 0;
}


.container {
    width: 1170px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}

.logo {
    margin-right: 69px;
}

.btn {
    padding: 18px 23px;
    width: 238px;
    border: #FFF solid 1px;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.btn:hover {
    transform: translateY(-5px);
}

.btn__link {
    color: #FFF;
    line-height: 26px;
    font-size: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

/* Header */
.header {
    padding-top: 57px;
    height: 900px;
    background: center / cover no-repeat url(/img/header-bg.jpg);
    color: #FFF;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__nav-list {
    display: flex;
}

.header__nav-item {
    transition: all .3s ease-in;
}

.header__nav-item:hover {
    transform: translateY(-5px);
}

.header__nav-item:not(:last-child) {
    margin-right: 40px;
}

.header__nav-link {
    color: #FFF;
    line-height: 21px;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

}

.header__tel-link {
    margin-left: 621px;
    color: #FFF;
    line-height: 26px;
    font-size: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.header__hero {
    margin-top: 216px;
}

.header__slogan {
    margin-bottom: 3px;
    line-height: 45px;
    font-size: 30px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.header__title {
    margin-bottom: 37px;
    font-size: 100px;
    line-height: 151px;
    text-transform: uppercase;
}


/* About */
.about-section {
    padding-top: 113px;
    height: 1029px;
}

.section-heading {
    margin-bottom: 58px;
    line-height: 75px;
    font-size: 50px;
    text-transform: uppercase;
}

.about-section__list {
    display: flex;
    justify-content: space-between;
}

.about-item {
    width: 564px;
}

.about-item__title {
    margin-bottom: 19px;
    line-height: 38px;
    font-size: 25px;
    text-transform: uppercase;
}

.about-item__description {
    font-family: 'Open Sans';
    line-height: 26px;
    font-size: 16px;
    text-align: justify;
}

.about-section__photo-gallery {
    display: flex;
    justify-content: space-between;
    margin-top: 67px;
    max-height: 344px;
}


/* Footer */
.footer {
    height: 129px;
}

.footer__rights {
    font-family: 'Open Sans';
    line-height: 20px;
    font-size: 15px;
}

.footer__event-organizers {
    margin-left: 55px;
    font-family: 'Open Sans';
    line-height: 20px;
    font-size: 15px;
}
